@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* variable css */
:root{
    --primary: #C4F000;
    --nav: #D9D8D8;
    --hitam: black;
    --putih: #fff;
    --icon:#DBF762;
    --text1:#565353;
    --input:#F3F3F3;
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

nav{
    position: relative;
    color: var(--putih);
    background-color: var(--nav);
    padding: 10px 20px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    z-index: 1;
}
nav img {
    width: 150px;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: var(--tiga);
    position: relative;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: var(--border2);
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 2px 2px 20px rgba(223, 183, 255, 0.411);
    backdrop-filter: blur(30px) saturate(100%);
    -webkit-backdrop-filter: blur(30px) saturate(100%);
    width: 160px;
}

.nav-menu ul.show {
    display: flex;
    flex-direction: column;
    padding: 3px 12px;
}

.nav-menu ul li {
    margin: 10px 0;
}
.nav-menu ul li:last-child {
    background-color: var(--satau);
    border-radius: var(--border3);
    color: var(--putih);
}
.nav-menu ul li:last-child a{
    color: var(--hitam);
    z-index: 100;
}
.nav-menu ul li:last-child a:hover{
    color: var(--dua);
}
.nav-menu ul li a {
    color: var(--hitam);
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-right: 50px;
}
.nav-menu ul li a:hover {
    color: var(--putih);
}
.nav-menu input[type="checkbox"] {
    display: none;
}
.hamburger-menu {
    display: block;
    cursor: pointer;
}
nav {
    padding: 10px 80px;
}

.nav-menu ul {
    display: flex;
    margin-right: 150px;
    font-size: 25px;
    color: var(--hitam);
    position: static;
    width: auto;
    box-shadow: none;
    border: none;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.nav-menu ul.show {
    display: flex;
}

.nav-menu ul li {
    margin: 0 10px;
}

.hamburger-menu {
    display: none;
}

.sign{
    background-color: var(--primary);
    padding: 12px 37px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--hitam);
    margin-right: 50px;
}

.hero{
    display: flex;
    height: 95vh;
}

.bg{
    width: 230px;
    height: 230px;
    top: 130px;
    left: 70px;
    position: absolute;
    z-index: -20;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    position: absolute;
    border-radius: 50%;
    background-color: var(--primary);
}

.left{
    width: 965px;
    margin-top: 130px;
    margin-left: 150px;
}

.left h1{
    font-size: 85px;
}
.left h2{
    background-color: var(--primary);
    padding: 12px 20px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--hitam);
    margin-top: 50px;
    margin-right: 50px;
}
.right{
    width: 533px;
    height: 618px;
    background-image: url(../asset/Group\ 19.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 170px auto 0;
}

.midle{
    background: var(--nav);
    height: 60vh;
    padding-top: 50px;
}
.midle h1{
    
    width: 700px;
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1{
    background: var(--primary);
    width: 250px;
    height: 250px;
    margin: 50px 10px;
    border-radius: 10px; 
}
.card1 .daun{
    background-color: var(--icon);
    padding: 10px 10px;
    border-radius: 50px;
    margin: 30px 90px;
    width: 50px;
    height: 50px;
}
.card1 .daun img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.card1 h2{
    text-align: center;
    color: var(--text1);
}
.card1 p{
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    color: var(--text1);
}
.card2, .card3, .card4{
    background: var(--putih);
    width: 250px;
    height: 250px;
    margin: 50px 10px;
    border-radius: 10px; 
}
.card2 .daun{
    background-color: var(--icon);
    padding: 10px 10px;
    border-radius: 50px;
    margin: 30px 90px;
    width: 50px;
    height: 50px;
}
.card2 .daun img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.card2 h2{
    text-align: center;
    color: var(--text1);
}
.card2 p{
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    color: var(--text1);
}

.card3 .daun{
    background-color: var(--icon);
    padding: 10px 10px;
    border-radius: 50px;
    margin: 30px 90px;
    width: 50px;
    height: 50px;
}
.card3 .daun img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.card3 h2{
    text-align: center;
    color: var(--text1);
}
.card3 p{
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    color: var(--text1);
}

.card4 .daun{
    background-color: var(--icon);
    padding: 10px 10px;
    border-radius: 50px;
    margin: 30px 90px;
    width: 50px;
    height: 50px;
}
.card4 .daun img{
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.card4 h2{
    text-align: center;
    color: var(--text1);
}
.card4 p{
    width: 180px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    color: var(--text1);
}

.about{
    display: flex;
}

.about img{
    width: 350px;
    height: 400px;
    margin: 50px 0 50px 200px;
    border-radius: 0 50px 0 50px;
}
.about-isi{
    width: 600px;
    margin: 50px auto;
}

.about-isi h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-isi h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.about-isi p{
    font-size: 20px;
    margin-bottom: 20px;
}

.Finance h4{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.Finance h1{
    margin: auto;
    font-size: 40px;
    width: 450px;
    text-align: center;
}


table {
    border: solid 2px;
    width: 97%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid var(--hitam);
}
th {
    background: var(--text1);
    color: var(--putih);
    font-weight: bold;
}

td{
    background: var(--nav);
}
.data-total{
    margin: 20px 20px 10px 20px;
    background: var(--putih);
    height: 100px;
   
}

.total-table th, .total-table td {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
}
.total-table td {
    color: var(--text1);
}

.detail-table th, .detail-table td {
    text-align: left;
}

.data-rincian{
    margin: 20px 20px 20px 20px;
    background: var(--putih);
    height: 400px;
}
.masuk {
    background: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.keluar {
    background: #ff9800;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.contact h4{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.contact h1{
    margin: auto;
    font-size: 40px;
    width: 450px;
    text-align: center;
    margin-bottom: 450px;
}
.contact .form-contact{
    justify-content: space-between;
    display: flex;
    margin: 50px auto;
    width: 1280px;
    height: 700px;
    border-radius: 20px;
    background: var(--primary);
    position: absolute;
    top:2870px ;
    left: 150px;
}
.contact .contact-left{
    height: 500px;
    margin-top: 80px;
    margin-left: 80px;
    overflow-y: hidden;
}
.contact .contact-left img{
    margin-bottom: 50px;
    margin-left: 40px;
}
.contact .contact-left h3{
    margin-left: 30px;
    width: 400px;
    font-size: 35px;
}

.contact .contact-rigth{
    margin-top: 80px;
    margin-right:120px;
}

.contact .contact-rigth label{
    font-size: 20px;
    font-weight: bold;
}
.contact .contact-rigth input{
    margin-top: 20px;
    background-color: var(--input);
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 36px;
}
.contact .contact-rigth textarea{
    width: 100%;
    height: 126px;
    background-color: var(--input);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
.contact .contact-rigth button{
    width: 100%;
    height: 36px;
    margin-top: 20px;
    background-color: #2D2D2D;
    color: var(--putih);
    border-radius: 5px;
}





footer {
    height: 611px;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #333;
    color: var(--putih);
}

footer #fhirst {
    margin-top: 400px;
    margin-bottom: 20px;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a .ig,.fb,.tt{
    width: 44px;
    height: 44px;
    margin: 0 10px;
    color: var(--icon);
}

.social-icons img {
    width: 44px;
    height: 44px;
    margin: 0 10px;
    color: var(--icon);
} 

footer #end{
    margin-top: 80px;
}



/* responsive */
@media (max-width: 576px) {
    nav {
        padding: 10px 20px;
    }

    .nav-menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: -170px;
        width: 300px;
        height: 350px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .nav-menu ul.show {
        display: flex;
    }

    .nav-menu ul li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .nav-menu ul li a {
        margin-right: 0;
        padding: 10px 20px;
    }
    .nav-menu ul li #Finance{
        position: relative;
    }
    .nav-menu ul li #Finance::after{
        position: absolute;
        content: 'Sign In';
        top: 70px;
        right: 60px;
        padding: 12px 47px;
        background: var(--primary);
        border-radius: 10px;
        text-decoration: none;
        color: var(--hitam);
    }

    .hamburger-menu {
        display: block;
        font-size: 30px;
        color: var(--hitam);
    }
    .sign{
        display: none;
    }
    .hero{
        display: flex;
        flex-direction: column;
        height: 105vh;
    }
    .bg{
        width: 150px;
        height: 150px;
        top: 110px;
        left: 200px;
        position: absolute;
        z-index: -20;
        filter: blur(40px);
        -webkit-filter: blur(50px);
        position: absolute;
        border-radius: 50%;
        background-color: var(--primary);
    }
    
    .left{
        width: 465px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .left h1{
        text-align: center;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .left h3,p{
        font-size: 15px;
        text-align: center;
    }
    .left h2{
        background-color: var(--primary);
        padding: 12px 7px;
        width: 100px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: var(--hitam);
        margin-top: 20px;
        margin-left: 170px;
    }
    .right{
        width: 333px;
        height: 418px;
        background-image: url(../asset/Group\ 19.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 30px 0 auto 100px;
    }
    .midle{
        background: var(--nav);
        height: 100vh;
        padding-top: 50px;
    }
    .midle h1{
        width: 500px;
        text-align: center;
        font-size: 38px;
        margin: 0 auto;
    }
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }
    .card3, .card4{
        margin-top: -30px;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
    }
    .about img{
        width: 350px;
        height: 400px;
        margin-top: 10px;
        margin-left: 110px;
        border-radius: 0 50px 0 50px;
    }
    .about-isi{
        width: 600px;
        margin: 50px auto;
    }
    
    .about-isi h4{
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .about-isi h1{
        font-size: 30px;
        width: 400px;
        text-align: center;
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .about-isi p{
        width: 500px;
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .Finance h4{
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .Finance h1{
        margin-top: -40px;
        font-size: 40px;
        width: 450px;
        text-align: center;
    }
    .contact .form-contact{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 380px;
        height: 750px;
        border-radius: 20px;
        background: var(--primary);
        position: absolute;
        top:3300px ;
        left: 90px;
    }
    .contact .contact-left{
        height: 300px;
        margin-top: 50px;
        margin-bottom: 200px;
        margin-left: 10px;
        overflow: hidden;
    }
    .contact .contact-left img{
        width: 144px;
        height: 144px;
        margin-bottom: 20px;
        margin-left: 110px;
    }
    .contact .contact-left h3{
        margin-left: -5px;
        text-align: center;
        width: 400px;
        font-size: 35px;
    }
    
    .contact .contact-rigth{
        width: 350px;
        height: 500px;
        margin-top: -150px;
        margin-bottom: 80px;
        margin-right:20px;
        margin-left: 12px;
        overflow-y: hidden;
    }
    
    .contact .contact-rigth label{
        font-size: 20px;
        font-weight: bold;
    }
    .contact .contact-rigth input{
        margin-top: 20px;
        background-color: var(--input);
        margin-bottom: 30px;
        border-radius: 5px;
        border: none;
        width: 100%;
        height: 36px;
    }
    .contact .contact-rigth textarea{
        width: 100%;
        height: 126px;
        background-color: var(--input);
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
    }
    .contact .contact-rigth button{
        width: 100%;
        height: 36px;
        margin-top: 20px;
        background-color: #2D2D2D;
        color: var(--putih);
        border-radius: 5px;
    }
    footer #end{
        margin-top: 60px;
        width: 500px;
    }
}
