<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Web Bumdes</title>
</head>
<body>
    <nav>
        <img src="../asset/logo.png" alt="onerepo">
        <div class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#" id="Finance">Finance</a></li>
            </ul>
            <a href="#" class="sign">sign In</a>
            <div class="hamburger-menu">
                <ion-icon name="menu"></ion-icon>
            </div>
        </div>
    </nav>
    <main>
       <section class="hero">
        <div class="bg"></div>
        <div class="left">
            <h3>SOLUSI TEPAT UNUK DESA HEBAT</h3>
            <h1>Platform Manajemen Keuangan BUMDes</h1>
            <p>Keuangan digital meningkatkan transparansi dan akuntabilitas dengan mencatat transaksi real-time, memastikan efisiensi dan kepercayaan dalam penggunaan dana desa.</p>
            <h2>Get Started</h2>
        </div>
        <div class="right">
        </div>
       </section>
       <section class="midle">
        <h1>Nilai Lebih dari Platform Keuangan BUMDes</h1>
        <div class="card">
            <div class="card1">
                <div class="daun">
                    <img src="../asset/leaf-sharp.png" alt="daun">
                </div>
                <h2>Transparansi</h2>
                <p>Setiap transaksi dapat dipantau secara real-time</p>
            </div>
            <div class="card2">
                <div class="daun">
                    <img src="../asset/leaf-sharp.png" alt="daun">
                </div>
                <h2>Efisiensi</h2>
                <p>mengurangi beban administrasi</p>
            </div>
            <div class="card3">
                <div class="daun">
                    <img src="../asset/leaf-sharp.png" alt="daun">
                </div>
                <h2>Akuntabilitas</h2>
                <p>Mempermudah audit dan pengawasan</p>
            </div>
            <div class="card4">
                <div class="daun">
                    <img src="../asset/leaf-sharp.png" alt="daun">
                </div>
                <h2>Terpusat</h2>
                <p>Semua data keuangan tersimpan dalam satu platform </p>
            </div>
        </div>
       </section>
        <section class="about">
        <img src="../asset/image 3.png" alt="">
        <div class="about-isi">
            <h4>ABOUT</h4>
            <h1>Platform Manajemen Keuangan BUMDes</h1>
            <p>Platform yang didedikasikan untuk meningkatkan
                kesejahteraan dan transparansi di desa-desa melalui
                solusi keuangan digital terdepan. Dengan fokus pada 
                efisiensi dan akuntabilitas, mendukung BUMDes dalam 
                mengelola dan memanfaatkan dana secara optimal
                untuk Membangun Kesejahteraan Desa.</p>
        </div>
        </section>
    <section class="Finance">
        <h4>FINANCE</h4>
        <h1>Informasi Keuangan Detail dan Terperinci</h1>
            <div class="data-total">
                <table class="total-table">
                    <tr>
                        <th>SALDO</th>
                        <th>UANG MASUK</th>
                        <th>UANG KELUAR</th>
                    </tr>
                    <tr>
                        <td>Rp 10.000.000,00</td>
                        <td>Rp 62.000.000,00</td>
                        <td>Rp 52.000.000,00</td>
                    </tr>
                </table>
            </div>
            <div class="data-rincian">
                <table class="detail-table">
                    <tr>
                        <th>NO</th>
                        <th>TANGGAL</th>
                        <th>JUMLAH</th>
                        <th>JENIS</th>
                        <th>DESKRIPSI</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>June 26, 2024</td>
                        <td>Rp 2.000.000,00</td>
                        <td><span class="masuk">Masuk</span></td>
                        <td>Dana Dari Pemerintah Pusat</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>June 28, 2024</td>
                        <td>Rp 10.000.000,00</td>
                        <td><span class="masuk">Masuk</span></td>
                        <td>Dana Bantuan Desa</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>June 30, 2024</td>
                        <td>Rp 50.000.000,00</td>
                        <td><span class="masuk">Masuk</span></td>
                        <td>Dana Bantuan Desa</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>June 27, 2024</td>
                        <td>Rp 3.000.000,00</td>
                        <td><span class="keluar">Keluar</span></td>
                        <td>Dana Buat Acara Pawai</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>June 28, 2024</td>
                        <td>Rp 40.000.000,00</td>
                        <td><span class="keluar">Keluar</span></td>
                        <td>Dana Rapat</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>June 30, 2024</td>
                        <td>Rp 9.000.000,00</td>
                        <td><span class="keluar">Keluar</span></td>
                        <td>Buat Konsumsi</td>
                    </tr>
                </table>
            </div>
    </section>
    <section class="contact">
        <h4>CONTACT</h4>
        <h1>Sampaikan Pendapat Anda, Hubungi Kami</h1>
        <div class="form-contact">
            <div class="contact-left">
                <img src="../asset/logo-bumdes.png" alt="">
                <h3>Platform Manajemen Keuangan BUMDes</h3>
            </div>
            <div class="contact-rigth">
                <form action="#" method="post">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                    <label for="message">Pesan</label>
                    <textarea id="message" name="message" required></textarea>
                    <button type="submit">Kirim</button>
                </form>
            </div>
        </div>
    </section>
    </main>

    <footer>
        <p id="fhirst">IKUTI KAMI DI MEDIA SOSIAL:</p>
        <div class="social-icons">
            <a href="#"><ion-icon name="logo-instagram" class="ig"></ion-icon></a>
            <a href="#"><ion-icon name="logo-facebook" class="fb"></ion-icon></a>
            <a href="#"><ion-icon name="logo-tiktok" class="tt"></ion-icon></a>
            <a href="#"><img src="../asset/Vector.png" alt="tweet" class="tweet"></a>
        </div>
        <p id="end">© 2024 BUMDES MAJU SEJAHTERA. JL. RAYA DESA MAJU NO. 123, DESA MAJU, KABUPATEN X, PROVINSI Y.</p>
    </footer>

    <!-- for icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- for hamburger menu -->
 <script>
  document.querySelector('.hamburger-menu').addEventListener('click', () => {
            document.querySelector('.nav-menu ul').classList.toggle('show');
        });

 </script>
</body>
</html>