/* Reset CSS */
:root{
    --satu: #C4F000;
    --dua: #D9D8D8;
    --tiga: #242424;

    --shadow:#DBF762;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Custom styles */
  body {
    font-family: "Poppins", sans-serif;
  }

  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px 80px;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }
  .navbar-logo span {
    font-weight: bold;
    font-size: 28px;
  }

  .navbar-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

 .navbar-menu li {
    margin: 0 10px;
  }

   .navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  }

  .navbar-menu li a:hover {
    color: var(--satu);
    border-bottom: 1px solid var(--satu);
  }

  .navbar-actions a {
    text-decoration: none;
    padding: 16px 35px;
    border-radius: 12px;
    background-color: var(--satu);
    color: var(--tiga);
    cursor: pointer;
    font-weight: bold;
  } 
  .navbar-actions a:hover {
    background-color: var(--tiga);
    color: var(--satu);
    box-shadow: 2px 2px 40px var(--shadow);
  } 


  /* container */
  .container{
    margin: 20px 80px;
  }
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .head-title{
    display: flex;
    flex-direction: column;
  }
  header .head-title h5{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  header .head-title h1{
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 110px;
  }
  header .head-title h1 span{
    /* color: var(--satu); */
    display: inline-block;
    animation: colorChange 15s infinite;
  }
  @keyframes colorChange {
    0% { color: #00edf9 ; }
    25% { color: orange; }
    50% { color: #C4F000; }
    75% { color: green; }
    100% { color: #f90057; }
}
  
  header .head-title p{
    font-size: 22px;
    max-width: 850px;
  }
  header .head-title a{
    margin-top: 40px;
    text-decoration: none;
    padding: 16px 35px;
    border-radius: 12px;
    background-color: var(--satu);
    color: var(--tiga);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    box-shadow: 5px 5px 40px var(--shadow);
    position: relative;
  }
  header .head-title a:hover{
    background-color: var(--tiga);
    color: var(--satu);
  }

  header .head-title #blur{
    width: 260px;
    height: 260px;
    background-color: #C4F000;
    filter: blur(100px); 
    -webkit-filter: blur(80px);
    position: absolute;
    border-radius: 50%;
    z-index: -99;
  }

  header .head-img img{
    max-height: 650px;
  }

  /* Hamburger menu styles */
  .navbar-toggler {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
  }
/* =============================================================================== */
  @media (max-width: 768px) { 
    .navbar {
        padding: 10px 20px;
    }
    .navbar-logo img {
        height: 35px;
        margin-right: 10px;
    }
    .navbar-logo span {
        font-weight: bold;
        font-size: 20px;
    }
    .navbar-actions a {
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 12px;
        background-color: var(--satu);
        color: var(--tiga);
        cursor: pointer;
        font-weight: bold;
    } 
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #f8f9fa;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar-menu.active {
      display: flex;
    }

    .navbar-menu li {
      margin: 10px 0;
    }

    .navbar-toggler {
      display: block;
    }
    .navbar-actions {
        margin-left: auto;
    }

    /* hedader */
    .container{
        margin: 50px 20px;
    }
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    header .head-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    header .head-title h5{
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
    }
    header .head-title h1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 38px;
    }
    header .head-title p{
        font-size: 13px;
        max-width: 100%;
    }
    header .head-title a{
        margin-top: 40px;
        text-decoration: none;
        padding: 12px 20px;
        border-radius: 12px;
        background-color: var(--satu);
        color: var(--tiga);
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
        width: fit-content;
        box-shadow: 5px 5px 40px var(--shadow);
        position: relative;
    }

    header .head-title #blur{
        width: 150px;
        height: 150px;
        background-color: #C4F000;
        filter: blur(100px); 
        -webkit-filter: blur(50px);
        position: absolute;
        border-radius: 50%;
        z-index: -99;
    }
    header .head-img img{
        max-height: 550px;
        margin-top: 20px;
    }


    /* content 1 */

    
  }
